.books-comp {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.books-container {
    margin: 50px 100px 0 100px;
}

.logo {
    display: flex;
    align-items: center;
    color: #226be9;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}