.book {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.author,
.reading-time {
    font-weight: 700;
}

.add-to-list-btn {
    width: 100%;
    font-size: 16px;
    padding: 15px 0;
    background-color: #5D5FEF;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* Selected btn */

.selected-add-btn {
    width: 100%;
    font-size: 16px;
    padding: 15px 0;
    background-color: #3a9803;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;

}

.book img {
    width: 100%;
    border-radius: 20px;
}

/* Details Section */

.details {
    background-color: white;
    padding: 20px 10px;
}